
.groot-omhulsel {
  display: grid;
  grid-template-columns: auto auto auto;
  /* margin-top: -300px; */
  position: absolute;
  width: 90vw;
  top: 40vh;
}
  
  /*katten*/
  #kat {
    text-align: center;
  }
  
  
  .omhulsel1 {
    width: 300px;
    height: 350px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
  
  }
  
  .binnen1 {
    width: 100%;
    height: 100%;
    background-color: rgb(156, 153, 153);
    border-radius: 10px;
  }
  
  #zoekbar1 {
    margin-left: 9px;
    margin-top: 220px;
    border-radius: 5px;
  }
  
  /*katten*/
  
  /*honden*/
  #hond {
    text-align: center;
  }
  
  .omhulsel2 {
    width: 300px;
    height: 350px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
  }
  
  .binnen2 {
    width: 100%;
    height: 100%;
    background-color: rgb(156, 153, 153);
    border-radius: 10px;
  }
  
  #zoekbar2 {
    margin-left: 9px;
    margin-top: 220px;
    border-radius: 5px;
  }
  /*honden*/
  
  /*overig*/
  #overig {
    text-align: center;
  }
  
  .omhulsel3 {
    width: 300px;
    height: 350px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
  }
  
  .binnen3 {
    width: 100%;
    height: 100%;
    background-color: rgb(156, 153, 153);
    border-radius: 10px;
  }
  
  #zoekbar3 {
    margin-left: 9px;
    margin-top: 220px;
    border-radius: 5px;
  }
  /*overig*/
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#bg {
  position: absolute;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 0;
}

/* Buttons */
.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 275px 90px;
  cursor: pointer;
}