/*header*/
body{
  background-color: #83a6ad;
  background-image: linear-gradient(to right, rgb(153, 122, 122) , yellow);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a9ccd4;
  font-family: , Helvetica, Arial, sans-serif;
  border-radius: 5px;
  font-weight: bold;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #83a6ad;
}

.active {
  background-color: #8cb9a9;
}

.Home {
  margin-left: 100px;
}
/*header*/


